
.pjesa1{
    height: 400px;
    background-color: #F3F3F3;
    padding-left: 30px;
  }
  /*.h2file{
    text-align: center;
  }*/
  .writefile{
    width:400px;
    border:1px solid gray;
    padding:7px;
    border-radius: 5px;
  
  }
 